Create new article:
<form method="POST" action='/articles'>
Title: <input type="text" id="title" name="title"> <br>
Content: <input type="text" id="content" name="content"> <br>
<input type="submit" value="submit">
</form>